.card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;

  height: 100%;
  background: white;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -50%;
  transform: skewY(390deg);
}

.card::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  max-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  z-index: 1;
}
/*
  .card .imgBox img {
      max-width: 100%;
      
      transition: .5s;
  }
  
  .card:hover .imgBox img {
      max-width: 50%;
        
  }
  */
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  cursor: pointer;
  top: 100px;
  opacity: 0;
  padding: 2px 3px;
  margin-top: 0px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.product_image {
  height: 250px;
  width: auto;
}

.button {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;

  svg {
    font-size: 35px;
    color: rgb(10, 12, 11);
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  margin-left: 50px;
  .add_btn {
    cursor: pointer;
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
    background: white;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    color: #000000;
  }
}

// topBar style
.topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--topnav-height);
  input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
  }

  .topnav__search {
    position: relative;
    padding: 0;
    box-sizing: border-box;
    height: 50px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    svg {
      cursor: pointer;
      font-size: 25px;
      position: absolute;
      right: 20px;
    }
  }
  .topnav__right {
    display: flex;
    align-items: center;
  }
  .topnav__right-item {
    margin-left: 50px;
  }
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  min-width: 200px;
  margin: 50px 33%;

  &:after {
    content: "<>";
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */

    position: absolute;
    pointer-events: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }
}
